body {
  color: #444;
}

h1 {
  font-size: 2em;
  font-weight: 1000;
  color: #888;
}

textarea.form-control {
  resize: none;
  min-height: 6em;
  font-family: monospace;
  font-size: 14px;
}

.is-invalid.form-control {
  background-position: top calc(.375em + .1875rem) right calc(.375em + .1875rem);
}

#main-container {
  margin-top: 10px;
}

.heading {
  align-items: baseline;
}

.spacer {
  width: 100%;
}

#version-choice, #language-choice {
  width: 150px;
}

pre {
  margin-top: 10px;
  padding: 5px 5px 10px 5px;
  overflow: hidden;
  white-space: pre-wrap;
}

.links {
  margin-top: auto;
  margin-bottom: 0;
}

.copy-clipboard {
  line-height: 0.5em;
  padding-bottom: 11px;
  font-size: 150%;
  border: 1px solid #ddd;
}

.clipboard-toast {
  margin-top: 90px;
  width: 200px;
}

.clipboard-toast .toast {
  background-color: #eee;
}
