---
name: CI

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Lint
        run: |
          npm run lint
      - name: Prettier
        run: |
          npm run prettier
  website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build package
        run: |
          npm run build
      - name: Build documentation
        run: |
          npm run docs
      - name: Build demo application
        run: |
          cd demo
          npm install
          npm install .. --install-links
          npm run build
          cd ..
          cp -R docs demo/dist
  unit-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 22.x]
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Tests
        run: |
          npm run test
  integration-tests-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Prepare for testing
        run: |
          npm run
          npm run test:setup-java
      - name: Integration tests
        run: |
          npm run test:integration-java

