name: Daily integration testing
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  integration-tests-curl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "9.2"
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Prepare for testing
        run: |
          npm run test:setup-curl
      - name: Integration tests
        run: |
          npm run test:integration-curl
  integration-tests-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "9.2"
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Prepare for testing
        run: |
          npm run test:setup-python
      - name: Integration tests
        run: |
          npm run test:integration-python
  integration-tests-javascript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "9.2"
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Prepare for testing
        run: |
          npm run test:setup-javascript
      - name: Integration tests
        run: |
          npm run test:integration-javascript
  integration-tests-php:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "9.2"
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
      - name: Prepare for testing
        run: |
          npm run test:setup-php
      - name: Integration tests
        run: |
          npm run test:integration-php
  integration-tests-ruby:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "9.2"
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4
      - name: Prepare for testing
        run: |
          npm run test:setup-ruby
      - name: Integration tests
        run: |
          npm run test:integration-ruby
  integration-tests-java:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup node.js
        uses: actions/setup-node@v4
      - name: Install
        run: |
          npm install
      - name: Build
        run: |
          npm run build
      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
      - name: Prepare for testing
        run: |
          npm run
          npm run test:setup-java
      - name: Integration tests
        run: |
          JAVA_ES_REQUEST_CONVERTER_JAR=/home/runner/work/request-converter/request-converter/tests/integration/.java-es-request-converter/build/libs/java-es-request-converter-1.0-SNAPSHOT.jar npm run test:integration-java
