name: Publish Package to npm
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Git branch to build and publish"
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - uses: actions/setup-node@v3
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - name: Update npm
        run: npm install -g npm@latest
      - run: npm install
      - run: npm run build
      - run: npm test
      - run: npm publish --access public
